<div class="hometab box bottom-to-top hb-animate-element">
		<div class="hometab-wrapper">
	<div class="tab-head">
	<div class="hometab-heading box-heading">{{heading_title}}</div>
		
	<div id="tabs" class="htabs">
	<ul class='etabs'>
		<li class='tab'>
			{% if latestproducts %}
				<a href="#tab-latest">{{ tab_latest }}</a>
			{% endif %}
		</li>
		<li class='tab'>
			{% if bestsellersproducts %}
			<a href="#tab-bestseller">{{ tab_bestseller }}</a>
			{% endif %}
		</li>
		<li class='tab'>
			{% if featuredproducts %}
			<a href="#tab-featured">{{ tab_featured }}</a>
			{% endif %}
		</li>	
		</ul>

	</div>
</div>
{% if bestsellersproducts %}
 <div id="tab-bestseller" class="tab-content">
    	  <div class="box">
				<div class="box-content">
					{% set sliderFor = 7 %}
					{%	set productCount = bestsellersproducts|length %}
					
					{% if productCount >= sliderFor %}
						<div class="customNavigation">
							<a class="fa prev fa-arrow-left">&nbsp;</a>
							<a class="fa next fa-arrow-right">&nbsp;</a>
						</div>	
					{% endif %}
					<div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}tabbestseller-carousel{% else %}tabbestseller-grid{% endif %}">
						{% for product in bestsellersproducts %}
							<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
								<div class="product-block product-thumb transition">
									<div class="product-block-inner">	  	
										<div class="{% if product.qty > 0 %}image{% else %}image outstock{% endif %}">
											{% if product.thumb_swap %}
      												<a href="{{ product.href }}">
      												<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
      												<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
      												</a>
      												{% else %}
      												<a href="{{ product.href }}">
      												<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
      										{% endif %}
											
											{% if product.special %}
												<span class="special-tag">{{product.percentsaving}}%</span>
											{% endif %}
											{% if product.qty == 0 %}
												<span class="stock_status">{{text_outstock}}</span>
											{% endif %}
											<div class="wishlist-button offer-btn">
												<button class="wishlist" type="button"  title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"></button>
											</div>
											<div class="product_hover_block">
												<div class="action">
													{% if product.qty > 0 %}
														<button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" >{{ button_cart }}</button>
														{% else %}
														<button type="button" class="cart_button out_of_stock" title="{{text_outstock}}" >{{text_outstock}}</button>
													{% endif %}
												</div>	
												<div class="compare-button offer-btn">
													<button class="compare_button" type="button"  title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');">{{ button_compare }}</button>
												</div>
												<div class="quickview-button offer-btn">
													<a class="quickbox"  title="{{ button_quickview }}" href="{{ product.quick }}">{{ button_quickview }}</a>
												</div>
											</div>
											<div class="countdown">
												{% if product.specialTime %}
													<div class="count-down clock">
												<div data-countdown="{{ product.specialTime }}" class="countbox hastime"></div>
												</div>	
												{% endif %}
											</div>	
   	
            				</div>


												
							<div class="product-details">
								<div class="caption">
									{# <p class="desc">{{ product.description }}</p>#}
									
									{# <span class="product-cat">{{ product.catname }}</span> #}
									<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
									
									 {#<div id="quantity_bar">
										<span class="quantity">{{ text_stock }} : <span class="counter">{{ product.qty }}</span></span>
										<div class="progress"><div class="progress-bar" role="progressbar" ></div></div>
									</div>#}

								{#{% if product.rating %}#}
									 <div class="rating">
									 {% for i in 1..5 %}
									 {% if product.rating < i %}
									 <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
									 {% else %}
									 <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
									 {% endif %}
									 {% endfor %}
									 {#&nbsp;<span style="cursor:pointer;" class="total-review{{ product.product_id }}">({{product.review}})</span>#}
									 </div>
								 {#{% endif %}#}   	
								 
								{% if product.price %}
									<p class="price">
									{% if not product.special %}
									{{ product.price }}
									{% else %}
									<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
									{% endif %}
									{% if product.tax %}
									<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
									{% endif %}
									</p>
								{% endif %}
									
								

								</div>		

							</div>				
															
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			 </div>
		 <span class="tabbestseller_default_width" style="display:none; visibility:hidden"></span> 
 </div>
{% endif %}
{% if latestproducts %}
<div id="tab-latest" class="tab-content">
	<div class="box">
				<div class="box-content">

					{% set sliderFor = 7 %}
					{%	set productCount = latestproducts|length %}
					
						{% if productCount >= sliderFor %}
						<div class="customNavigation">
							<a class="fa prev fa-arrow-left">&nbsp;</a>
							<a class="fa next fa-arrow-right">&nbsp;</a>
						</div>	
					{% endif %}
					<div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}tablatest-carousel{% else %}tablatest-grid{% endif %}">
					{% for product in latestproducts %}
							<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
								<div class="product-block product-thumb transition">
									<div class="product-block-inner">	  	
										<div class="{% if product.qty > 0 %}image{% else %}image outstock{% endif %}">
											{% if product.thumb_swap %}
      												<a href="{{ product.href }}">
      												<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
      												<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
      												</a>
      												{% else %}
      												<a href="{{ product.href }}">
      												<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
      										{% endif %}
												
											{% if product.special %}
											<span class="special-tag">{{product.percentsaving}}%</span>
											{% endif %}
											{% if product.qty == 0 %}
												<span class="stock_status">{{text_outstock}}</span>
											{% endif %}
   	
										<div class="wishlist-button offer-btn">
											<button class="wishlist" type="button"  title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"></button>
										</div>
												
										<div class="product_hover_block">
											<div class="action">
												{% if product.qty > 0 %}
													<button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" >{{ button_cart }}</button>
													{% else %}
													<button type="button" class="cart_button out_of_stock" title="{{text_outstock}}" >{{text_outstock}}</button>
												{% endif %}
											</div>	
											<div class="compare-button offer-btn">
												<button class="compare_button" type="button"  title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');">{{ button_compare }}</button>
											</div>
											<div class="quickview-button offer-btn">
												<a class="quickbox"  title="{{ button_quickview }}" href="{{ product.quick }}">{{ button_quickview }}</a>
											</div>
										</div>
										<div class="countdown">
											{% if product.specialTime %}
												<div class="count-down clock">
											<div data-countdown="{{ product.specialTime }}" class="countbox hastime"></div>
											</div>	
											{% endif %}
										</div>	
									
            </div>
       

						<div class="product-details">
							<div class="caption">
								{# <p class="desc">{{ product.description }}</p> #}

								
								{# <span class="product-cat">{{ product.catname }}</span> #}

								<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>

								{#<div id="quantity_bar">
									<span class="quantity">{{ text_stock }} : <span class="counter">{{ product.qty }}</span></span>
									<div class="progress"><div class="progress-bar" role="progressbar" ></div></div>
								</div>#}

								{#{% if product.rating %}#}
									 <div class="rating">
									 {% for i in 1..5 %}
									 {% if product.rating < i %}
									 <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
									 {% else %}
									 <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
									 {% endif %}
									 {% endfor %}
									 {#&nbsp;<span style="cursor:pointer;" class="total-review{{ product.product_id }}">({{product.review}})</span>#}
									 </div>
								 {#{% endif %}#}   

								{% if product.price %}
									<p class="price">
									{% if not product.special %}
									{{ product.price }}
									{% else %}
									<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
									{% endif %}
									{% if product.tax %}
									<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
									{% endif %}
									</p>
								{% endif %}

							
	            	 					
										</div>		
									</div>			
										
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			 </div>
			  <span class="tablatest_default_width" style="display:none; visibility:hidden"></span>
 </div>
{% endif %}

{% if featuredproducts %}
 <div id="tab-featured" class="tab-content">
    	  <div class="box">
				<div class="box-content">
					{% set sliderFor = 7 %}
					{%	set productCount = featuredproducts|length %}
					
					{% if productCount >= sliderFor %}
						<div class="customNavigation">
							<a class="fa prev fa-arrow-left">&nbsp;</a>
							<a class="fa next fa-arrow-right">&nbsp;</a>
						</div>	
					{% endif %}
					<div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid-hometab{% endif %}" id="{% if productCount >= sliderFor %}tabfeatured-carousel{% else %}tabfeatured-grid{% endif %}">
						{% for product in featuredproducts %}
							<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
								<div class="product-block product-thumb transition">
									<div class="product-block-inner">	  	
										<div class="image {% if product.qty == 0 %}outstock{% endif %}">

											{% if product.thumb_swap %}
      												<a href="{{ product.href }}">
														
      												<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
      												<div class="image_content">
      												<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/></div>
      												</a>
      												{% else %}
      												<a href="{{ product.href }}">
      												<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
      										{% endif %}
      										{% if product.special %}
											<span class="special-tag">{{product.percentsaving}}%</span>
										{% endif %}
										{% if product.qty == 0 %}
							            	<span class="stock_status">{{text_outstock}}</span>
							            {% endif %}
							            
										<div class="wishlist-button offer-btn">
											<button class="wishlist" type="button"  title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"></button>
										</div>
										<div class="product_hover_block">
											<div class="action">
												{% if product.qty > 0 %}
													<button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" >{{ button_cart }}</button>
													{% else %}
													<button type="button" class="cart_button out_of_stock" title="{{text_outstock}}" >{{text_outstock}}</button>
												{% endif %}
											</div>	
											<div class="compare-button offer-btn">
												<button class="compare_button" type="button"  title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');">{{ button_compare }}</button>
											</div>
											<div class="quickview-button offer-btn">
												<a class="quickbox"  title="{{ button_quickview }}" href="{{ product.quick }}">{{ button_quickview }}</a>
											</div>
										</div>
										<div class="countdown">
											{% if product.specialTime %}
												<div class="count-down clock">
											<div data-countdown="{{ product.specialTime }}" class="countbox hastime"></div>
											</div>	
											{% endif %}
										</div>
							          
									
										</div>
										<div class="product-details">
											<div class="caption">
												{# <p class="desc">{{ product.description }}</p> #}
				
												
												{# <span class="product-cat">{{ product.catname }}</span> #}
												<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
				
												{#{% if product.rating %}#}
													 <div class="rating">
													 {% for i in 1..5 %}
													 {% if product.rating < i %}
													 <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
													 {% else %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
													 {% endif %}
													 {% endfor %}
													 {#&nbsp;<span style="cursor:pointer;" class="total-review{{ product.product_id }}">({{product.review}})</span>#}
													 </div>
												 {#{% endif %}#}   
				
												{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													</p>
												{% endif %}
				
											
														 
														</div>		
													</div>
									</div>
								</div>
								<script> 
								     $('.total-review{{ product.product_id }}').on('click', function() { 
								       var t='{{product.href}}'; 
								       const parseResult = new DOMParser().parseFromString(t, "text/html");
								       const parsedUrl = parseResult.documentElement.textContent;
								       window.location.href = parsedUrl + '&review';
								       return false;
								    });
								 </script>
							</div>
						{% endfor %}
					</div>
				</div>
			 </div>
			 <span class="tabfeatured_default_width" style="display:none; visibility:hidden"></span>
 </div>
{% endif %}

	</div>
			
</div>
<script type="text/javascript">
$('#tabs a').tabs();
</script> 