<div class="box featured bottom-to-top hb-animate-element">
<div class="container">
	<div class="row">
	<div class="tab-head">
		<div class="hometab-heading box-heading">{{heading_title}}</div>
		{{discountcode}}
	</div>
	<div class="product-column">
		<div class="box-content">
			{% set sliderFor = 7 %}
			{% set productCount = products|length %}
			{% if productCount >= sliderFor %}
				<div class="customNavigation">
					<a class="fa prev fa-arrow-left">&nbsp;</a>
					<a class="fa next fa-arrow-right">&nbsp;</a>
				</div>	
			{% endif %}
		
			<div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}featured-carousel{% else %}featured-grid{% endif %}">
				{% for product in products %}
					{% if loop.index % 2 == 1 %}
						<li class="double-slideitem slider-item">
							<ul>
					{% endif %}
					<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
						<div class="product-block product-thumb transition">
							<div class="product-block-inner">	  	
								<div class="image {% if product.qty == 0 %}outstock{% endif %}">
									{% if product.thumb_swap %}
										<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
											<div class="image_content">
												<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
											</div>
										</a>
									{% else %}
										<a href="{{ product.href }}">
										<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
									{% endif %}
									{% if product.special %}
										<span class="special-tag">{{product.percentsaving}}%</span>
									{% endif %}
									{% if product.qty == 0 %}
										<span class="stock_status">{{text_outstock}}</span>
									{% endif %}
									<div class="countdown">
										{% if product.specialTime %}
											<div class="count-down clock">
												<div data-countdown="{{ product.specialTime }}" class="countbox hastime"></div>
											</div>	
										{% endif %}
									</div>
								</div>
								<div class="product-details">
									<div class="caption">
										<span class="product-brand">{{product.brand}}</span>
										<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
										{#{% if product.rating %}#}
											<div class="rating">
												{% for i in 1..5 %}
												{% if product.rating < i %}
													<span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
												{% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endif %}
												{% endfor %}
												{#&nbsp;<span style="cursor:pointer;" class="total-review{{ product.product_id }}">({{product.review}})</span>#}
											</div>
										{#{% endif %}#} 

										{# <p class="desc">{{ product.description }}</p> #}
									
										{% if product.price %}
											<p class="price">
													{% if not product.special %}
												{{ product.price }}
												{% else %}
												<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
												{% endif %}
												{% if product.tax %}
												<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
												{% endif %}
												</p>
										{% endif %}
									
									</div>	
								</div>
							</div>
						</div>
						<script> 
							$('.total-review{{ product.product_id }}').on('click', function() { 
							var t='{{product.href}}'; 
							const parseResult = new DOMParser().parseFromString(t, "text/html");
							const parsedUrl = parseResult.documentElement.textContent;
							window.location.href = parsedUrl + '&review';
							return false;
							});
						</script>
					</div>
					{% if loop.index % 2 != 1 %}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{{bannerthird}}

</div>
</div>
</div>
<span class="featured_default_width" style="display:none; visibility:hidden"></span>
